# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/logs
# Virtual environments
.venv/
venv/
env/
ENV/

# IDE and editor directories
.vscode/
.idea/
*.swp
*.swo

# Build and distribution files
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Logs and databases
*.log
*.sqlite
*.db

# Testing and coverage
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Environment variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints/

# node_modules
node_modules/

